body {
		margin: 0;
		min-height: 100vh;
		background-color: #310e68;
		background-image: linear-gradient(316deg, #310e68 0%, #5f0f40 74%);
		color: #fff;
		font-family: sans-serif;
}

* {
		box-sizing: border-box;
}

.mantine-TextInput-input {
		&:focus, :focus-within {
				border: 2px solid #a884e3;
		}
}

.mantine-PasswordInput-input {
		&:focus,
		&:focus-within {
				border: 2px solid #a884e3;
		}
}

